* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
    zoom: 98%;
    animation-duration: 1ms;
    transition: 1s;
    justify-content: left;
    align-items: left;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}
.div1 {
    width:50%;
    float:left;
    }
    .div2 {
    float:left;
    width:50%;
    }

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}