
.normal {
    background-color: #a6a877;
        color: black;
          opacity: 1;
}

.grass {
    background-color: #77c850;
    opacity: 0.9;
        color: yellow;
}

.fire {
    background-color: #ee7f30;
        color: black;
          opacity: 1;
}

.water {
    background-color: #678fee;
        color: yellow;
          opacity: 1;
}

.electric {
    background-color: #f7cf2e;
        color: black;
          opacity: 1;

}

.ice {
    background-color: #98d5d7;
        color: black;
          opacity: 1;
}

.ground {
    background-color: #dfbf69;
        color: black;
          opacity: 1;
}

.flying {
    background-color: #a98ff0;
        color: black;
          opacity: 1;
}

.poison {
    background-color: #a040a0;
        color: black;
          opacity: 1;
}

.fighting {
    background-color: #bf3029;
        color: black;
          opacity: 1;
}

.psychic {
    background-color: #f65687;
        color: black;
          opacity: 1;
}

.dark {
    background-color: #725847;
        color: black;
          opacity: 1;
}

.rock {
    background-color: #b8a137;
        color: black;
          opacity: 1;
}

.bug {
    background-color: #a8b720;
        color: black;
          opacity: 1;
}

.ghost {
    background-color: #6e5896;
        color: black;
          opacity: 1;
}

.steel {
    background-color: #b9b7cf;
        color: black;
          opacity: 1;
}

.dragon {
    background-color: #6f38f6;
    color: black;
      opacity: 1;
}

.fairy {
    background-color: #f9aec7;
        color: black;
          opacity: 1;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .4rem;
    padding: 1rem;
    border-radius: 1rem;
}
.hidden{
    display: none;
}
.pokemon .number {
    color: #ffffff;
    opacity: 1;
    text-align: right;
    font-size: 1.3rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #000000;
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1rem;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1.2rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    text-shadow: 1px black;
    width: 100px;
    height: 100px;
    margin: 0.5rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .5rem .75rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media only screen and (max-width: 992px){
    .pokemons{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        margin: 0
    }

} 
@media only screen and (min-width: 40px) and (max-width: 560px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
        margin: 0; 
    }  
    .pokemon{
        width: 140%;
        margin-left: -49px;
      }
      #pokemonList{
        grid-template-columns: 1fr;
      }    
    .content{
        margin: 0;
        height: auto;
        width: 91%;
    }
    .pokemon .detail .types .type {
        font-size: 13px;
        width: 100%;
    }
}




